@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'S-CoreDream-6Bold';
}

h1 {
    margin:10%;
}
span{
    display: inline;
}

.logo {
    padding: 3%;
}

.option1{
    display: inline-block; 
    padding: 0 10px; 
    height: 50px; 
    line-height: 50px;
    background-color: #faff00;
    margin-bottom: 5%;
    /* box-sizing: border-box;  */
    color: rgb(0, 0, 0); 
    float:left;
    font-size: 20px;
    
}
.option2{
    display: inline-block; 
    padding: 0 10px; 
    height: 50px; 
    line-height: 50px; 
    /* text-align: right;  */
    background-color: black;
    margin-bottom: 5%;
    /* box-sizing: border-box;  */
    color: #fff; 
    float:left; 
    font-size: 20px;
}
.reset{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.new{
    text-align: center;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.graph{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-right: 10%; 
    margin-left: 10%;
    text-align: center;
}