{% load static %}
<html>
<head>
    <link href="https://images.velog.io/images/myway00/post/ea055d2f-8da9-408b-85e6-ac9edf4eff37/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="static/css/main.css" type="text/css" rel="stylesheet">  
    <link href="static/css/style.css" type="text/css" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/105dacfb44.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body style="background-color: black;">
    <div class="logo">
        <a href="{% url 'start_page' %}">
            <img src="{% static 'images/logo3.png' %}" width="240px" ; height="95px"; >
        </a>
    </div>

<div>
   
    <h1 class="new">실시간 투표 현황
</div>
<div class="all">
    <div class="graph">
        <span class="option1" id="1">{{vote.0.choice_set.all.0}}</span>
        <span class="option2" id="2">{{vote.0.choice_set.all.1}}<span class="p"></span></span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="3">{{vote.1.choice_set.all.0}}</span>
        <span class="option2" id="4">{{vote.1.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="5">{{vote.2.choice_set.all.0}}</span>
        <span class="option2" id="6">{{vote.2.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="7">{{vote.3.choice_set.all.0}}</span>
        <span class="option2" id="8">{{vote.3.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="9">{{vote.4.choice_set.all.0}}</span>
        <span class="option2" id="10">{{vote.4.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="11">{{vote.5.choice_set.all.0}}</span>
        <span class="option2" id="12">{{vote.5.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="13">{{vote.6.choice_set.all.0}}</span>
        <span class="option2" id="14">{{vote.6.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="15">{{vote.7.choice_set.all.0}}</span>
        <span class="option2" id="16">{{vote.7.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="17">{{vote.8.choice_set.all.0}}</span>
        <span class="option2" id="18">{{vote.8.choice_set.all.1}}</span>
    </div>
    <br>
    <div class="graph">
        <span class="option1" id="19">{{vote.9.choice_set.all.0}}</span>
        <span class="option2" id="20">{{vote.9.choice_set.all.1}}</span>
    </div>
    <!-- <img class="reset" src="static/images/reset.png" style="cursor:pointer" width=80px; onClick="window.location.reload()"> -->
    <i style="cursor:pointer;color:rgb(0, 0, 0)" onClick="window.location.reload()" class="fa-solid fa-rotate fa-4x "></i>
    <!-- <i   class="fa fa-refresh fa-spin fa-fw"></i>   -->
</div>  
<br>
<br>


<br><br>
</body>
</html>
<footer style="text-align: center; color: rgb(72, 72, 60);">
    ©2022 sogangsisters@gmail.com<br>
    <a href = "https://www.instagram.com/likelion_sg"><img src="/static/images/sg.png" style="color: darkgray;" width="50" height="50"></a>
    <a href = "https://www.instagram.com/likelion_ds"><img src="/static/images/ds.png"  width="50" height="50"></a>
    <br><br><br>
    <div class = "ad1" style="text-align: center;">
        <ins class="kakao_ad_area" style="display:block;" 
     data-ad-unit    = "DAN-K1ONl6gS9BoFHEkW" 
     data-ad-width   = "320" 
     data-ad-height  = "50"></ins> 
    
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad2" style="text-align: center;">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7779512750803803"
         crossorigin="anonymous"></script>
    </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $("#1").width("{{vote.0.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#2").width("{{vote.0.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#3").width("{{vote.1.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#4").width("{{vote.1.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#5").width("{{vote.2.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#6").width("{{vote.2.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#7").width("{{vote.3.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#8").width("{{vote.3.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#9").width("{{vote.4.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#10").width("{{vote.4.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#11").width("{{vote.5.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#12").width("{{vote.5.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#13").width("{{vote.6.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#14").width("{{vote.6.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#15").width("{{vote.7.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#16").width("{{vote.7.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#17").width("{{vote.8.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#18").width("{{vote.8.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    $("#19").width("{{vote.9.choice_set.all.0.count}}" / "{{total_voted_number}}" * 100 + "%");
    $("#20").width("{{vote.9.choice_set.all.1.count}}" / "{{total_voted_number}}" * 100 + "%");

    document.getElementById("1").innerHTML = "{{vote.0.choice_set.all.0}}"+" ( "+("{{vote.0.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.0.choice_set.all.0.count}}표"
    document.getElementById("2").innerHTML = "{{vote.0.choice_set.all.1}}"+" ( "+("{{vote.0.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.0.choice_set.all.1.count}}표"
    document.getElementById("3").innerHTML = "{{vote.1.choice_set.all.0}}"+" ( "+("{{vote.1.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.1.choice_set.all.0.count}}표"
    document.getElementById("4").innerHTML = "{{vote.1.choice_set.all.1}}"+" ( "+("{{vote.1.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.1.choice_set.all.1.count}}표"
    document.getElementById("5").innerHTML = "{{vote.2.choice_set.all.0}}"+" ( "+("{{vote.2.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.2.choice_set.all.0.count}}표"
    document.getElementById("6").innerHTML = "{{vote.2.choice_set.all.1}}"+" ( "+("{{vote.2.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.2.choice_set.all.1.count}}표"
    document.getElementById("7").innerHTML = "{{vote.3.choice_set.all.0}}"+" ( "+("{{vote.3.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.3.choice_set.all.0.count}}표"
    document.getElementById("8").innerHTML = "{{vote.3.choice_set.all.1}}"+" ( "+("{{vote.3.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.3.choice_set.all.1.count}}표"
    document.getElementById("9").innerHTML = "{{vote.4.choice_set.all.0}}"+" ( "+("{{vote.4.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.4.choice_set.all.0.count}}표"
    document.getElementById("10").innerHTML = "{{vote.4.choice_set.all.1}}"+" ( "+("{{vote.4.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.4.choice_set.all.1.count}}표"
    document.getElementById("11").innerHTML = "{{vote.5.choice_set.all.0}}"+" ( "+("{{vote.5.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.5.choice_set.all.0.count}}표"
    document.getElementById("12").innerHTML = "{{vote.5.choice_set.all.1}}"+" ( "+("{{vote.5.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.5.choice_set.all.1.count}}표"
    document.getElementById("13").innerHTML = "{{vote.6.choice_set.all.0}}"+" ( "+("{{vote.6.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.6.choice_set.all.0.count}}표"
    document.getElementById("14").innerHTML = "{{vote.6.choice_set.all.1}}"+" ( "+("{{vote.6.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.6.choice_set.all.1.count}}표"
    document.getElementById("15").innerHTML = "{{vote.7.choice_set.all.0}}"+" ( "+("{{vote.7.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.7.choice_set.all.0.count}}표"
    document.getElementById("16").innerHTML = "{{vote.7.choice_set.all.1}}"+" ( "+("{{vote.7.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.7.choice_set.all.1.count}}표"
    document.getElementById("17").innerHTML = "{{vote.8.choice_set.all.0}}"+" ( "+("{{vote.8.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.8.choice_set.all.0.count}}표"
    document.getElementById("18").innerHTML = "{{vote.8.choice_set.all.1}}"+" ( "+("{{vote.8.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.8.choice_set.all.1.count}}표"
    document.getElementById("19").innerHTML = "{{vote.9.choice_set.all.0}}"+" ( "+("{{vote.9.choice_set.all.0.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.9.choice_set.all.0.count}}표"
    document.getElementById("20").innerHTML = "{{vote.9.choice_set.all.1}}"+" ( "+("{{vote.9.choice_set.all.1.count}}"/"{{total_voted_number}}"*100).toFixed(2)+"% )"+"<br>{{vote.9.choice_set.all.1.count}}표"

</script>