{% load static %}
<!--링크 클릭하자 마자 보이는 화면-->
<html>
<head>
    <link href="static/css/start.css?after" type="text/css" rel="stylesheet">  
</head>
<body>
    <div class="nav">
        <a href="{% url 'start_page' %}">
            <img src="{% static 'images/logo.png' %}" width="230px"; height="80px"; >
    </div>
    <div class="total_voted_number">
        <h1>현재 투표에 참여한 인원은 {{ total_voted_number }}명 입니다.</h1><br>
    </div>    
    <div class="box">
        <a href="{% url 'vote_page' %}"><h1>투표하러 가기</h1></a>
    </div>  
    <br>
    <div>
        <img src="/static/images/logo.png" class="logo" width="700px" alt="No image">
    </div> 
    <br>
    <div class="box">
        <a href="{% url 'main_page' %}"><h1>실시간 투표 현황 보러가기</h1></a>
    </div>
    <br>
</body>
</html>
