<!--투표 완료 후 주류, 비주류 인간 타입 1번 show-->
<!-- sns 공유 버튼 -->
<a href="{% url 'start_page' %}">홈화면으로(로고)</a><br>
주류 항목을 0~1개 고른 당신은 비주류 인간입니다<br>
_______________________________________
<br><br><선택한 항목은 아래와 같습니다><br>
{% for i in final_choice_list %}
    {% if i.powerful %}
    <br><b>{{i}}</b><br> <!--주류인 항목이라면 다르게 표시하도록 : 우선은 굵은글씨로 표현되게해놓았음-->
    {% else %}
    <br>{{i}}<br>  <!--주류인 항목 아니라면 다르게 표시하도록 : 우선은 얇은 글씨로 표현되게해놓았음-->
    {% endif %}

{% endfor %}<br>
_______________________________________<br>
<a href="{% url 'main_page' %}">실시간 투표 현황 보러가기</a><br>