<!--투표 진행화면-->
<form action="{% url 'vote' %}" method="get" enctype="multipart/form-data">

{% for v in vote %}
    {% for c in v.choice_set.all %}
    <br>
    {% if c.id in answered %}
        <input type="radio" name="choice{{v.id}}" id="c{{ c.id }}" value="{{ c.id }}" checked/>
        <label for="c{{ c.id }}"> {{ c.name }}</label> <br/>
    {% else %}
        <input type="radio" name="choice{{v.id}}" id="c{{ c.id }}" value="{{ c.id }}"/>
        <label for="c{{ c.id }}"> {{ c.name }}</label> <br/>
    {% endif %}
    {% endfor %} 
    ____________________________
{% endfor %}
<br>
<input type="submit" value="투표하기"/>

{% for message in messages %}
    {{ message.tag }}
    {{ message }}
{% endfor %}
</form>



<script>

// 쿠키 생성 함수
function setCookie(cName, cValue, cDay){
var expire = new Date();
expire.setDate(expire.getFullYear() + cDay);
cookies = cName + '=' + escape(cValue) + '; path=/ '; // 한글 깨짐을 막기위해 escape(cValue)를 합니다.
if(typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
document.cookie = cookies;
}

setCookie("isVoted", 'true', 300)
</script>